#include "rk3568-rock-3a.dts"

/ {
	/delete-node/ hdmi-con;
	/delete-node/ rk809-sound;
	/delete-node/ display-subsystem;
};

&combphy0 {
	status = "disabled";
};

&combphy1 {
	status = "disabled";
};

&combphy2 {
	status = "disabled";
};

&gpu {
	status = "disabled";
};

&hdmi {
	status = "disabled";
};

&hdmi_in {
	status = "disabled";
	/delete-node/ endpoint;
};

&hdmi_out {
	status = "disabled";
	/delete-node/ endpoint;
};

&hdmi_sound {
	status = "disabled";
};

&rk809 {
	/delete-node/ codec;
};

//&i2c5 {
//	status = "disabled";
//	/delete-node/ rtc;
//};

&i2s0_8ch {
	status = "disabled";
};

&i2s1_8ch {
	status = "disabled";
};

&i2s2_2ch {
	status = "disabled";
};

&pcie2x1 {
	status = "disabled";
};

&pcie30phy {
	status = "disabled";
};

&pcie3x2 {
	status = "disabled";
};

&saradc {
	status = "disabled";
};

&uart1 {
	status = "disabled";

	/delete-node/ bluetooth;
};

&usb_host0_ehci {
	status = "disabled";
};

&usb_host0_ohci {
	status = "disabled";
};

&usb_host0_xhci {
	status = "disabled";
};

&usb_host1_ehci {
	status = "disabled";
};

&usb_host1_ohci {
	status = "disabled";
};

&usb_host1_xhci {
	status = "disabled";
};

&usb2phy0 {
	status = "disabled";
};

&usb2phy0_host {
	status = "disabled";
};

&usb2phy0_otg {
	status = "disabled";
};

&usb2phy1 {
	status = "disabled";
};

&usb2phy1_host {
	status = "disabled";
};

&usb2phy1_otg {
	status = "disabled";
};

&vop {
	status = "disabled";
};

&vop_mmu {
	status = "disabled";
};

&vp0 {
	/delete-node/ endpoint@ROCKCHIP_VOP2_EP_HDMI0;
};
