// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2019 Akash Gajjar <Akash_Gajjar@mentor.com>
 * Copyright (c) 2019 Pragnesh Patel <Pragnesh_Patel@mentor.com>
 */

/dts-v1/;
#include "rk3399-rock-pi-4a.dts"

/ {
	/delete-node/ sound;
	/delete-node/ sound-dit;
	/delete-node/ spdif-dit;
};

&gpu {
	status = "disabled";
};

&hdmi_sound {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	status = "disabled";
};

&i2s0 {
	status = "disabled";
};

&i2s1 {
	status = "disabled";
};

&i2s2 {
	status = "disabled";
};

&pcie0 {
	status = "disabled";
};

&pcie_phy {
	status = "disabled";
};

&saradc {
	status = "disabled";
};

&spdif {
	status = "disabled";

	/delete-node/ port;
};

&tcphy0 {
	status = "disabled";
};

&tcphy1 {
	status = "disabled";
};

&u2phy0 {
	status = "disabled";
};

&u2phy1 {
	status = "disabled";
};

&usb_host0_ehci {
	status = "disabled";
};

&usb_host0_ohci {
	status = "disabled";
};

&usb_host1_ehci {
	status = "disabled";
};

&usb_host1_ohci {
	status = "disabled";
};

&usbdrd3_0 {
	status = "disabled";
};

&usbdrd3_1 {
	status = "disabled";
};

&usbdrd_dwc3_0 {
	status = "disabled";
};

&usbdrd_dwc3_1 {
	status = "disabled";
};

&vopb {
	status = "disabled";
};

&vopb_mmu {
	status = "disabled";
};

&vopl {
	status = "disabled";
};

&vopl_mmu {
	status = "disabled";
};
